body {
   background-color: gray;
   color: black;
}

h1 {
  color: white;
  text-align: center;
   font-family: verdana;
   font-size: 30px
}

h2 { 
   color: black;
   text-align: center;
   font-family: verdana;
   font-size: 20px
}


h3 { 
   color: black;
   text-align: center;
   font-family: verdana;
   font-size: 16px
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  width: 33%;
  text-align: center; 
  border: 1px solid black; 
  padding: 8px;
}
